.flashmessage {
  z-index: 501;
}

.flashmessage a {
  text-decoration: underline;
  color: #FFFFFF;
}

.flash-wrapper {
  padding: 10px;
  color: #ffffff;
  width: 960px;
  margin: 10px auto 10px;
  border-radius: 5px;
  font-size: 1em;
}

.flash-wrapper.notification {
  border: 2px solid #0060c0;
  background-color: #0982e2;
}
.flash-wrapper.error {
  border: 2px solid #b31900;
  background-color: #d9472c;
}
.flash-wrapper.success {
  border: 2px solid #337300;
  background-color: #619d0c;
}